{% load static %}
<html>
    <head>
        <title>Lost Pet</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Volkhov&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static 'css/mysite.css' %}">
        {% block css_and_js_in_head_section %}
        {% endblock %}
    </head>
    <body>
        <div class="inner-body">      
            <div class="page-header">
                <h1><a href="/">Lost Pet</a></h1>
            </div>
            <div id="nav">   
            <ul>
                <li><a href="/">GET STARTED</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">LOGIN</a></li>
                    <li><a href="{% url 'signup' %}">SIGNUP</a></li>
                {% endif %}
                
            </ul>
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
    {% block javascript_after_body_section %}
    {% endblock %}
</html>