{% extends 'mysite/base.html' %}

{% block content %}

     <h1>{{custom_user.username}}'s Profile</h1>
        
    {% if custom_user.profile_image %}
        <p>
        
        <img src="{{custom_user.profile_image.url}}" height="200px">
        
    {% endif %}
    <p>
    username: {{custom_user.username}}
    <p>
    first name: {{custom_user.first_name}}
    <p>
    last name: {{custom_user.last_name}} 
    <p>
    email: {{custom_user.email}}
    <p>
    phone: {{custom_user.phone}}       
        
   
    
{% endblock %}