{% extends 'mysite/base.html' %}

{% block content %}

     <h1>{{custom_user.username}}'s profile</h1>
        
    {% if custom_user.profile_image %}
        <p>
        
        <img src="{{custom_user.profile_image.url}}" height="200px">
        
    {% endif %}
    <p>
    <b>username:</b> {{custom_user.username}}
    <p>
    <b>first name:</b> {{custom_user.first_name}}
    <p>
    <b>last name:</b> {{custom_user.last_name}} 
    <p>
    <b>email</b>: {{custom_user.email}}
    <p>
    <b>phone:</b> {{custom_user.phone}}       
        
   
    
{% endblock %}