{% extends 'mysite/base.html' %}

{% block css_in_head_section %}
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.css' rel='stylesheet' />

{% endblock %}

{% block js_in_head_section %}
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js'></script>
{% endblock %}

{% block content %}
    <div class="row pt-4">
        <div class="col-lg-8 background-color: blue">
  
            <h4 style="color: #6b6769">Search Party Map</h4>
         
            
            <p>
            <div style="width:600px;">
              <div id='map' style="width:450px; height:300px; background-color:#746e6e; margin: 0px;padding:0px; display:inline; float:left;"></div>
                 
              <div style="display:inline; float:left; width: 100px; height:300px; margin: 0px;padding:5px;" >
               <!-- 
                MEMBERS
                <br>
                <b>Rita</b>
                <br>
                <b>David</b>
              </div>
            -->
            
            </div>

            <!--    
            <div class='map-overlay' id='legend'></div>
            -->
            
            <button id="start_tracking_button" class="btn btn-lg btn-primary mt-3" type="button" style="visibility: hidden; margin-left: 65px; margin-right:8px" onclick="start_tracking()">
                Start Tracking
            </button>
            <button id="stop_tracking_button" class="btn btn-lg btn-primary mt-3" type="button" style="visibility: hidden" onclick="stop_tracking()">
                Stop Tracking
            </button>
            <textarea id="coordinates_thru_websockets" cols="62" rows="10" style="margin-top:15px"></textarea><br/>
            
            <div id="start_stop_time">
                Start Stop Time here
            </div>

            COORDINATES:
            <div id="coordinate_list">
                You are nowhere!
            </div>
            
        </div>
    </div>

{% endblock %}    

{% block javascript_after_body_section %}
    <script>
        var start_stop_times=[];
        var browser_coordinates = [];
        var coordinates_from_server =[];
        var watch_position_id;
        var roomName = {{ room_name_json }};
        var mapsSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/maps/' + roomName + '/');

        // MapBox stuff
        window.lat = 41.891833;
        window.lng = -87.628228;
        var map;
        var mark;
        
        var color_of_current_user = ["#a51300","red"];
        var colors = [["#23cd02", "green"],["#a80aaa", "purple"],["#888", "grey"]]; 
        var color_key = {};
        var color_position = 0;
        var get_everyones_path = true;
        
       
    
        function my_initialize(){
            initialize_mapbox();

            mapsSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var username = data['username'];
            coordinates_from_server = data['coordinates'];
            var geojson_line_id = username;
            var single_or_all_users = data['single_or_all_users'];      
            
            console.log("username: " + username + ", single_or_all_users: " + single_or_all_users + ", coord: " + coordinates_from_server);  
          
            if (coordinates_from_server != "") {
                if (username in color_key) {
                    color = color_key[username];
                    console.log(color);
                } else {
                    if (username == "{{user.username}}"){
                        color = color_of_current_user[0];
                        console.log(color);
                    } else {
                        color = getNextColor();
                        console.log(color);
                        
                    }
                    color_key[username] = color;
                }

                // Create a legend for the map
                
                /* Object.entries(color_key).forEach(([key, value]) => {
                    var my_username = key;
                    if (my_username == "{{user.username}}"){
                        my_username += " (you)";
                    }
                    var color = value;

                    var item = document.createElement('div');
                    var key = document.createElement('span');
                    key.className = 'legend-key';
                    key.style.backgroundColor = color;

                    var value = document.createElement('span');
                    value.innerHTML = my_username;
                    item.appendChild(key);
                    item.appendChild(value);
                    legend.appendChild(item);
                
                }); */

                document.querySelector('#coordinates_thru_websockets').value += (username + '\n');
                document.querySelector('#coordinates_thru_websockets').value += (JSON.stringify(coordinates_from_server) + '\n');
                
            
                
                
                   
                map.flyTo({center:[lng,lat]});
                mark.setLngLat([lng,lat]);

                    if (map.getSource(geojson_line_id)) {
                        map.removeLayer(geojson_line_id);
                        map.removeSource(geojson_line_id);
                    }
                    map.addLayer({
                        "id": geojson_line_id,
                        "type": "line",
                        "source": {
                            "type": "geojson",
                            "data": {
                            "type": "Feature",
                            "properties": {},
                            "geometry": {
                                "type": "LineString",
                                "coordinates": coordinates_from_server
                                }
                            }
                        },
                        "layout": {
                        "line-join": "round",
                        "line-cap": "round"
                        },
                        "paint": {
                        "line-color": color,
                        "line-width": 8
                        }
                    });
                
                }
            
            };

            mapsSocket.onclose = function(e) {
            console.error('Maps socket closed unexpectedly');
            };
            
            get_location();

            
        }

        function initialize_mapbox() {
            mapboxgl.accessToken = '{{mapbox_access_token}}';  
            map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v9',
                center: [lng, lat], // starting position as [lng, lat]
                zoom: 15
            });
            
            map.on('load', function(){
                 mark = new mapboxgl.Marker()
                    .setLngLat([lng, lat]) // [lng, lat] coordinates to place the marker at
                    .addTo(map); // add the marker to the map
                alert('Mapbox has been loaded');
            })
            
        }
        function get_location() {
            if ("geolocation" in navigator) {
                alert("You got geolocation working on your browser!");
                document.getElementById('start_tracking_button').style.visibility="visible";
                document.getElementById('stop_tracking_button').setAttribute("disabled", "disabled");
                document.getElementById('stop_tracking_button').style.visibility="visible";
            } else {
              // no native support; maybe try a fallback?
              alert("Oh no. You don't have geolocation in your browser!");
            }
          }
        
        function show_map(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;

            
            // adds new longitude and latitude to array on the client's browser
            browser_coordinates.push([longitude, latitude]);

            var element = document.getElementById("coordinate_list");
            element.innerHTML = "Your coordinates are:(longitude, latitude) " + JSON.stringify(browser_coordinates);
            
            
        
            if ((longitude == window.lng) && (latitude == window.lat)){
                // Do nothing since user hasn't moved
            } else {
                // send new longitude and latitude to server via websockets
                var coord = [longitude,latitude]
                var time_stamp = new Date().getTime()/1000;
            
                window.lat = latitude;
                window.lng = longitude;

                mapsSocket.send(JSON.stringify({
                    'message_type': "coordinate",
                    'username': "{{user.username}}",
                    'coord': coord,
                    'search_party_instance_id': "{{room_name}}",
                    'time_stamp' : time_stamp
                }));

               
            }
   
        }

        function error(err) {
            alert('ERROR(' + err.code + '): ' + err.message);
        }
    
        function start_tracking() {
            watch_position_id = navigator.geolocation.watchPosition(show_map, error);
            document.getElementById('stop_tracking_button').removeAttribute("disabled");
            document.getElementById('start_tracking_button').setAttribute("disabled", "disabled");
            
            var date = new Date();
            var time_stamp = date.getTime()/1000;
            var human_date_time = convert_date_to_human_date_time(date);

            start_stop_times.push([1, time_stamp, human_date_time]);
            var element = document.getElementById("start_stop_time");
            element.innerHTML = "Start" + JSON.stringify(start_stop_times);

            mapsSocket.send(JSON.stringify({
                'message_type': "start_tracking",
                'username': "{{user.username}}",
                'search_party_instance_id': "{{room_name}}",
                'time_stamp' : time_stamp
            }));

            if (get_everyones_path) {

                mapsSocket.send(JSON.stringify({
                    'message_type': "get_everyones_paths",
                    'username': "{{user.username}}",
                    'search_party_instance_id': "{{room_name}}",
                    'time_stamp' : time_stamp
                }));

                get_everyones_path = false;
            }
        }

        function stop_tracking() {
            navigator.geolocation.clearWatch(watch_position_id);
            document.getElementById('stop_tracking_button').setAttribute("disabled", "disabled");
            document.getElementById('start_tracking_button').removeAttribute("disabled");
            
            var date = new Date();
            var time_stamp = date.getTime()/1000;
            
           
            var human_date_time = convert_date_to_human_date_time(date); 
            start_stop_times.push([2, time_stamp, human_date_time]);
            var element = document.getElementById("start_stop_time");
            element.innerHTML = "Stop" + JSON.stringify(start_stop_times);

            mapsSocket.send(JSON.stringify({
                'message_type': "stop_tracking",
                'username': "{{user.username}}",
                'search_party_instance_id': "{{room_name}}",
                'time_stamp' : time_stamp
            }));

            alert("You have stopped tracking!");

        }

        function convert_date_to_human_date_time(date) {
            var human_date_time = (date.getMonth()+1).toString() + '-' + date.getDate().toString() + '-' + date.getFullYear().toString() 
                  + ' -- ' + date.getHours().toString() + ':' + date.getMinutes().toString() + ': ' + date.getSeconds().toString(); 
            return human_date_time;
        }

        function getNextColor(){
            var color = colors[color_position % colors.length][0];
            color_position += 1;
            return color;
        }
    window.onload = my_initialize;  
    
    </script>
    
{% endblock %}