{% extends 'mysite/base.html' %}

{% block content %}
    <div class="row pt-4">
        <div class="col-lg-8">
  
            Welcome to the Maps Page!!
            <p>
        
            <button id="start_tracking_button" class="btn btn-lg btn-primary" type="button" style="visibility: hidden" onclick="start_tracking()">
                Start Tracking
            </button>
            <button id="stop_tracking_button" class="btn btn-lg btn-primary" type="button" style="visibility: hidden" onclick="stop_tracking()">
                Stop Tracking
            </button>
            <textarea id="coordinates_thru_websockets" cols="100" rows="10"></textarea><br/>
            <div id="coordinate_list">
                You are nowhere!
            </div>
        </div>
    </div>

{% endblock %}    

{% block javascript_after_body_section %}
    <script>
        var coordinates = [];
        var watch_position_id;
        var roomName = {{ room_name_json }};
        var mapsSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/maps/' + roomName + '/');

        function my_initialize(){
            mapsSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            document.querySelector('#coordinates_thru_websockets').value += (message + '\n');
            };

            mapsSocket.onclose = function(e) {
            console.error('Maps socket closed unexpectedly');
            };
            
            get_location();
        }


        function get_location() {
            if ("geolocation" in navigator) {
                alert("You got geolocation working on your browser!");
                document.getElementById('start_tracking_button').style.visibility="visible";
                document.getElementById('stop_tracking_button').setAttribute("disabled", "disabled");
                document.getElementById('stop_tracking_button').style.visibility="visible";
            } else {
              // no native support; maybe try a fallback?
              alert("Oh no. You don't have geolocation in your browser!");
            }
          }
        
        function show_map(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;

            
            // adds new longitude and latitude to array on the client's browser
            coordinates.push([longitude, latitude]);

            // send new longitude and latitude to server via websockets
            var message = [longitude,latitude]
            mapsSocket.send(JSON.stringify({
            'message': message
            }));

            var element = document.getElementById("coordinate_list");
            element.innerHTML = "Your coordinates are:(longitude, latitude) " + JSON.stringify(coordinates);
            
            //alert("Found you at longitude " + longitude + ", latitude " + latitude);
            
            // let's show a map or do something interesting!
        }

        function error(err) {
            alert('ERROR(' + err.code + '): ' + err.message);
        }
    
        function start_tracking() {
            watch_position_id = navigator.geolocation.watchPosition(show_map, error);
            document.getElementById('stop_tracking_button').removeAttribute("disabled");
            document.getElementById('start_tracking_button').setAttribute("disabled", "disabled");
        }

        function stop_tracking() {
            navigator.geolocation.clearWatch(watch_position_id);
            document.getElementById('stop_tracking_button').setAttribute("disabled", "disabled");
            document.getElementById('start_tracking_button').removeAttribute("disabled");
            alert("You have stopped tracking!");
        }
    window.onload = my_initialize;  
    
    </script>
    
{% endblock %}